@import "tailwindcss";

:root {
  /* Dark theme by default */
  --background: #0a0a0a;
  --foreground: #ededed;
  
  /* Custom Green */
  --primary: #10b981; /* Emerald 500 */
  --primary-hover: #059669; /* Emerald 600 */
  --primary-transparent: rgba(16, 185, 129, 0.2);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-hover: var(--primary-hover);
  --color-primary-transparent: var(--primary-transparent);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
}
